<%- include('./layout'); %>

<ul>
    <% countries.forEach(function(country) { %>
        <li>
            <strong><%= country.name %></strong>
            representing <%= country.code %>, born <%= country.currency %>
        </li>
    <% }); %>
</ul>

</body>
</html>